@page "/IndexFactura"
@inject NotificationService notificationServices
@inject FacturaServices FacturaServices
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

@rendermode InteractiveServer


<PageTitle>factura</PageTitle>
<RadzenNotification />

<a href="/" class="w-20 btn btn-lg btn-outline-secondary"><i class="bi bi-arrow-left"></i></a>
<section class=" gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="fondo " style="border-radius: 1rem;">

                <div class="card-body p-5 text-center">
                    <h1 class="fw-bold mb-2 text-uppercase">Facturas</h1>

                    <div class="tab-content">
                        <form>
                            @*
                            <div>
                            <button type="submit" class="w-20 btn btn-lg btn-success"><i class="bi bi-floppy"></i> Aceptar</button>
                            </div> *@

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Barbero</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Forma de pago</th>
                                        <th>Monto pagado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (!factura.Any())
                                    {
                                        <tr>
                                            <td colspan="3" class="text-center">@mensaje</td>
                                        </tr>
                                    }
                                    else
                                    {@foreach (var item in factura)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="/Imagenes/Factura.png" style="width: 50px; height: auto; margin-right: 10px;" />
                                                </td>
                                                <td>@item.BarberoName</td>
                                                <td>@item.Fecha</td>
                                                <td>@item.Name</td>
                                                <td>@item.FormaDePago</td>
                                                <td>@item.Total.ToString("N2")</td>
                                                <td>
                                                    <div>
                                                        <a href="/EditBarbero/@item.FacturaId" class="btn btn-outline-primary"><i class="bi bi-pencil-square" /> Edit</a>
                                                        <a href="/DeleteBarbero/@item.FacturaId" class="btn btn-outline-danger"><i class="bi bi-trash-fill" /> Eliminar</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    public IEnumerable<Factura> factura = new List<Factura>();
    public string mensaje;

    protected override async Task OnInitializedAsync()
    {
        if (factura == null || !factura.Any())
            mensaje = "No hay datos";

        factura = await FacturaServices.GetFacturas();
    }
}
